<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Name %></td>
        <td><%= contact.Name %></td>
        <td><%= contact.Name %></td>
      </tr>
    <% end %>
  </table>

</div>
