<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>
    </tr>

    <% @vts.each do |vt| %>
      <tr>
        <td><%= vt.Name %></td>
      </tr>
    <% end %>
  </table>

</div>
